/* styles for cats */

* {
  margin: 0;
  padding: 0;  
}

.topHeader {
    background-color: #0e2a57;
    padding: 50px;
    
}

body {
  font-family: 'Bodoni Moda', serif;
    text-align: center;
    background-color: aqua;
    color: #bd9fb4;
}
h1 {
  font-size: 120px;
  font-family: 'Khula', sans-serif;
  text-transform: upperCase;
  padding: 20px;
}

h2 {
  font-size: 60px;
  padding: 20px;
  letter-spacing: 5px;  
}

#pink {
  color: #ec29b2;
}
img {
    display: block;
    margin: auto;
    width: 50%;
    padding: 30px;
}

.navMenue {
list-style: none;
padding: 30px;
text-transform: uppercase;
margin-top: 15px;
font-size: 15px;
}
.navMenue li {
display: inline-block;
}
.navMenue a {
  text-decoration: none;
  padding: 10px;
  color: aqua;
}

.mainSection {
  padding: 50px;

}

#blurb {
  width: 50%;
  margin: auto;
}

footer {
  margin: top 20px; 
  padding: 40px;
  background-color: bisque;
}
